In [238]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [239]:
link1 = "Datasets/student-mat.csv"
link2 = "Datasets/student-por.csv"

In [240]:
school1 = pd.read_csv(link1, sep=';', usecols=['school', 'sex', 'age', 'address', 'Pstatus', 'guardian', 'traveltime', 'studytime', 'failures', 'paid', 'internet', 'health', 'absences', 'G1', 'G2', 'G3'])
school1.head(10)

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3
0,GP,F,18,U,A,mother,2,2,0,no,no,3,6,5,6,6
1,GP,F,17,U,T,father,1,2,0,no,yes,3,4,5,5,6
2,GP,F,15,U,T,mother,1,2,3,yes,yes,3,10,7,8,10
3,GP,F,15,U,T,mother,1,3,0,yes,yes,5,2,15,14,15
4,GP,F,16,U,T,father,1,2,0,yes,no,5,4,6,10,10
5,GP,M,16,U,T,mother,1,2,0,yes,yes,5,10,15,15,15
6,GP,M,16,U,T,mother,1,2,0,no,yes,3,0,12,12,11
7,GP,F,17,U,A,mother,2,2,0,no,no,1,6,6,5,6
8,GP,M,15,U,A,mother,1,2,0,yes,yes,1,0,16,18,19
9,GP,M,15,U,T,mother,1,2,0,yes,yes,5,0,14,15,15

In [241]:
school2 = pd.read_csv(link2, sep=';', usecols=['school', 'sex', 'age', 'address', 'Pstatus', 'guardian', 'traveltime', 'studytime', 'failures', 'paid', 'internet', 'health', 'absences', 'G1', 'G2', 'G3'])
school2.head(10)

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3
0,GP,F,18,U,A,mother,2,2,0,no,no,3,4,0,11,11
1,GP,F,17,U,T,father,1,2,0,no,yes,3,2,9,11,11
2,GP,F,15,U,T,mother,1,2,0,no,yes,3,6,12,13,12
3,GP,F,15,U,T,mother,1,3,0,no,yes,5,0,14,14,14
4,GP,F,16,U,T,father,1,2,0,no,no,5,0,11,13,13
5,GP,M,16,U,T,mother,1,2,0,no,yes,5,6,12,12,13
6,GP,M,16,U,T,mother,1,2,0,no,yes,3,0,13,12,13
7,GP,F,17,U,A,mother,2,2,0,no,no,1,2,10,13,13
8,GP,M,15,U,A,mother,1,2,0,no,yes,1,0,15,16,17
9,GP,M,15,U,T,mother,1,2,0,no,yes,5,0,12,12,13

In [242]:
school1=school1[school1!='MS']
school1=school1[school1['school'].notna()]

In [243]:
approved=[]
extra=[]
aux=[]

In [244]:
def puntaje1(valor):
        if  (93-valor*100/93<=80):
            return 0
        elif (93-valor*100/93 >80):
            return 1

In [245]:
def puntaje2(valor):
        if  (valor<10):
            return 0
        elif (10<=valor<15):
            return 1
        elif (valor>=15):
            return 1

In [246]:
def puntaje3(valor):
        if (10<=valor<=15):
            return 1
        elif (valor>=15):
            return 0
        elif (valor<10):
            return ""

In [247]:
for valor in school1["absences"]:
    approved.append(puntaje1(valor))

In [248]:
for valor in school1["G3"]:
    aux.append(puntaje2(valor))

In [249]:
for x in range (len(approved)):
    if(approved[x]!=aux[x]):
        approved[x]=aux[x]

In [250]:
for valor in school1["G3"]:
    extra.append(puntaje3(valor))

In [251]:
school1["approved"]=approved
school1["extra"]=extra

In [252]:
school1

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3,approved,extra
0,GP,F,18,U,A,mother,2,2,0,no,no,3,6,5,6,6,0,
1,GP,F,17,U,T,father,1,2,0,no,yes,3,4,5,5,6,0,
2,GP,F,15,U,T,mother,1,2,3,yes,yes,3,10,7,8,10,1,1
3,GP,F,15,U,T,mother,1,3,0,yes,yes,5,2,15,14,15,1,1
4,GP,F,16,U,T,father,1,2,0,yes,no,5,4,6,10,10,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,GP,F,18,U,T,mother,1,3,0,no,yes,3,4,11,10,10,1,1
345,GP,F,18,U,T,mother,1,3,0,no,yes,1,7,13,13,14,1,1
346,GP,M,18,R,T,mother,1,3,0,no,yes,4,9,16,15,16,1,0
347,GP,M,18,U,T,mother,1,3,0,yes,yes,5,0,10,10,9,0,
348,GP,F,17,U,T,mother,1,3,0,yes,yes,4,0,13,15,15,1,1

In [253]:
school2=school2[school2!='MS']
school2=school2[school2['school'].notna()]

In [254]:
approved1=[]
extra1=[]
aux1=[]

In [255]:
def puntaje4(valor):
        if  (93-valor*100/93<=80):
            return 0
        elif (93-valor*100/93 >80):
            return 1

In [256]:
def puntaje5(valor):
        if  (valor<10):
            return 0
        elif (10<=valor<15):
            return 1
        elif (valor>=15):
            return 1

In [257]:
def puntaje6(valor):
        if (10<=valor<=15):
            return 1
        elif (valor>=15):
            return 0
        elif (valor<10):
            return ""

In [258]:
for valor in school2["absences"]:
    approved1.append(puntaje4(valor))

In [259]:
for valor in school2["G3"]:
    aux1.append(puntaje5(valor))

In [260]:
for x in range (len(approved1)):
    if(approved1[x]!=aux1[x]):
        approved1[x]=aux1[x]

In [261]:
for valor in school2["G3"]:
    extra1.append(puntaje6(valor))

In [262]:
school2["approved"]=approved1
school2["extra"]=extra1

In [263]:
school2

,school,sex,age,address,Pstatus,guardian,traveltime,studytime,failures,paid,internet,health,absences,G1,G2,G3,approved,extra
0,GP,F,18,U,A,mother,2,2,0,no,no,3,4,0,11,11,1,1
1,GP,F,17,U,T,father,1,2,0,no,yes,3,2,9,11,11,1,1
2,GP,F,15,U,T,mother,1,2,0,no,yes,3,6,12,13,12,1,1
3,GP,F,15,U,T,mother,1,3,0,no,yes,5,0,14,14,14,1,1
4,GP,F,16,U,T,father,1,2,0,no,no,5,0,11,13,13,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,GP,M,18,R,T,father,1,1,0,no,yes,4,13,13,14,14,1,1
419,GP,M,19,U,T,mother,1,1,0,no,yes,4,10,7,11,11,1,1
420,GP,F,18,U,A,mother,2,2,0,no,yes,4,10,14,17,17,1,0
421,GP,F,20,U,T,mother,2,1,1,no,yes,5,5,8,10,10,1,1
422,GP,F,18,U,T,mother,1,2,0,no,yes,1,4,10,13,13,1,1

In [265]:
school1.to_csv('D:/Proyecto_CP_Josue_Vasquez/Proyecto_Python_Escuela_GP_Mat 12-01-2023.csv',sep=';')

In [267]:
school2.to_csv('D:/Proyecto_CP_Josue_Vasquez/Proyecto_Python_Escuela_GP_Port 12-01-2023.csv',sep=';')